@kxepal @1st1 @fafhrd91 and others, I'm asking for your opinions


I don't have opinion on this topic. One note, would it be better to allow to use different implementation and provide cookies with filtering as an extra instead of adding more parameters?


same as @fafhrd91 


IP addresses in cookies are strongly discouraged by RFC. However, it's still allowed case per [RFC-2109](https://tools.ietf.org/html/rfc2109) and [RFC-2965](https://tools.ietf.org/html/rfc2965), but not for current one [RFC-6265](https://tools.ietf.org/html/rfc6265).

So it's ok to have that behaviour optional, but not by default.


@kxepal I don't understand you clean: are you suggest _allowing_ ip addresses by default or _forbidding_?


@asvetlov forbid as newest RFC defines and common guidelines defines. Enabling this is actually fallback to old RFCs where this is allowed, but discouraged, so I think that should be default state of things today. 


Gotcha. Will publish bug fix release soon.


BTW what is good name for the class?
Both `RelaxedCookieJar` and `CookieJarWithoutIPFiltering` looks ugly.


`CookieJarDiscouraged`


@kxepal are you kidding me?


@asvetlov Sorry, but it was too seductive to not propose (:
Actually, why not to have a special option for CookieJar which controls that behaviour?


Fixed by aiohttp 0.22.2 release.
`CookieJar(unsafe=True)` disables IP address check
