[GitMate.io](https://gitmate.io) thinks the contributor most likely able to help you is @asvetlov.

Possibly related issues are https://github.com/aio-libs/aiohttp/issues/836 (Provide a way to associate context with requests), https://github.com/aio-libs/aiohttp/issues/279 (Provide a way to retrieve 5xx error codes), https://github.com/aio-libs/aiohttp/issues/752 (There is no way to 'del_route'), https://github.com/aio-libs/aiohttp/issues/2106 (Warnings should provide a stacklevel), and https://github.com/aio-libs/aiohttp/issues/3459 (Recommended way to run background tasks).

I suggest adding `app.on_repsonse_prepare` signal.
In the signal you can setup `Server` HTTP header for a response.
aiohttp adds default `Server` only if the value is not specified explicitly.

Does it solve your needs?

I'm unsure if that will effect all subapps, but I'm fairly sure it won't label any `ClientSession`'s.

Hacky solution but it seems to work
```
import aiohttp
aiohttp.http.SERVER_SOFTWARE = 'someserver'
from aiohttp import web
app = web.Application()
web.run_app(app)
```
![image](https://user-images.githubusercontent.com/21027969/55749961-88bdeb00-5a42-11e9-97fa-88340d3eaf9b.png)


I'd like a way to suppress the "Server" response header altogether.

[RFC 7231, Section 7.4.2](https://tools.ietf.org/html/rfc7231#section-7.4.2) says:

```An origin server MAY generate a Server field in its responses.```

So it's allowed for "Server" header field to be absent.

aiohttp/web_response.py line 391-393
```
        headers.setdefault(hdrs.CONTENT_TYPE, 'application/octet-stream')
        headers.setdefault(hdrs.DATE, rfc822_formatted_time())
        headers.setdefault(hdrs.SERVER, SERVER_SOFTWARE)
```

Which shows that there is no way to exclude it if desired.

As it is, I'm using ["hack" suggested by ultrafunkamsterdam](https://github.com/aio-libs/aiohttp/issues/3607#issuecomment-480966291) to set it to a less revealing value.

UPDATE:

I wrote too soon, I was unable to get the "hack" to work, but I was able to get the on_response_prepare signal to work.



`app.on_repsonse_prepare` is the official solution.
You are free to use any hack that works for you but the library may change its internals and thus break your hack at any time.

Closing the issue.

@asvetlov the hypothetical setting also serves for HTTP clients though; I would be able to globally configure User-Agent headers in reusable libs with their own clients. The `app.on_response_prepare` is HTTP server only.

Let me know if it's just a very distant priority/won't have time to implement it (I could PR it at some point...) vs. opposed in principle to the idea (PR doomed to be rejected).