https://tools.ietf.org/html/rfc6265#section-4.1.1 : sane-cookie-date  = <rfc1123-date, defined in [RFC2616], Section 3.3.1>

https://tools.ietf.org/html/rfc2616#section-3.3.1

All HTTP date/time stamps MUST be represented in Greenwich Mean Time
   (GMT), without exception. For the purposes of HTTP, GMT is exactly
   equal to UTC (Coordinated Universal Time). This is indicated in the
   first two formats by the inclusion of "GMT" as the three-letter
   abbreviation for time zone


It's not a bug by design. We will not parse non RFC-compliant data.

Possibly http.cookiejar could parse that. It uses less strict parser. But still, "UTC" is an error in the web-server. Please contact its author.