For the test case added to `test_basic_auth_no_user_from_url` I ran the same fictitious URL with curl and verified the Basic auth header value matched.

If we look at the collected [ABNF for a URL from Appendix-A of the RFC3986](https://datatracker.ietf.org/doc/html/rfc3986#appendix-A) in particular:
 
    authority     = [ userinfo "@" ] host [ ":" port ]
    userinfo      = *( unreserved / pct-encoded / sub-delims / ":" )

You can see that `:password` is permitted as a `userinfo` value, indeed the use of repeated colons is allowed. However the RFC mentions nothing about how to actually _parse_ the extracted userinfo into what we commonly call user/password, for which reference to other implementations is probably helpful. 

The regexp given in Appendex-B of the same document also permits the authority to contain an empty username.

Looking at other relevant RFCs, Basic Auth has to join back together the user/password (recreating the `userinfo` field) and here they are more specific about that process:

[RFC2617 section 2 (Basic Auth)](https://datatracker.ietf.org/doc/html/rfc2617#section-2) specifies an ABNF that allows zero length usernames (and passwords)

    2 Basic Authentication Scheme

    The "basic" authentication scheme is based on the model that the
    client must authenticate itself with a user-ID and a password for
    each realm (...)
    ...
    To receive authorization, the client sends the userid and password,
    separated by a single colon (":") character, within a base64 [7]
    encoded string in the credentials.

      basic-credentials = base64-user-pass
      base64-user-pass  = <base64 [4] encoding of user-pass,
                       except not limited to 76 char/line>
      user-pass   = userid ":" password
      userid      = *<TEXT excluding ":">
      password    = *TEXT


[RFC7617  (Basic Auth)](https://datatracker.ietf.org/doc/html/rfc7617) does not mandate the username be of any particular length.

I cannot see anything in relevant RFCs that prohibit a zero-length username.

I don't really mind either way. Looks fine.

As mentioned, the whole basic auth thing is a rather old deprecated thing, but that's more a concern for the server-side implementations still making the mistake of using it, rather than the client-side code which is forced to use it.

Updated commit and `CHANGES` message - @webknjaz anything outstanding?

> Updated commit and `CHANGES` message - @webknjaz anything outstanding?

I'd like to get feedback from @asvetlov too and dig into the standards a little bit more myself before making this change permanent.

WHATWG seems to think that this corner case is valid: https://github.com/whatwg/url/issues/139. OTOH I haven't found any explicit tests in the `requests` repo that would indicate that they intentionally support this.

Any chance of re-review and/or merge?