I noticed, the `filename*` is specified in [RFC 6266 Use of the Content-Disposition Header Field in the Hypertext Transfer Protocol (HTTP)](https://tools.ietf.org/html/rfc6266). It however states clearly

>       Note: This document does not apply to Content-Disposition header
>       fields appearing in payload bodies transmitted over HTTP, such as
>       when using the media type "multipart/form-data" ([RFC2388]).

RFC2388 is now obsoleted by the [RFC7578](https://tools.ietf.org/html/rfc7578).


I checked with Firefox, and any form fields names containing "[]" are sent without being enoded. Also filenames are sent in 8-bit utf-8 without any encoding. Rereading #916, it would seem the quote_fields=False option has been added to get correct behavior. Any API expecting the default quote_fields=True behavior can not work with submissions from html forms. With my patch and quote_fields=False, it is further fixed to quote any quotes in the file names.